doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Smartgram admin')
    meta(name='author', content='Smartgram team')
    title SmartGram Admin
    
    //- styles
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet' integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900', rel='stylesheet')
    link(href='//styles.css', rel='stylesheet')

  body
    //- navbar
    nav(class="navbar navbar-expand-lg navbar-light bg-light border-bottom")
      a(class="navbar-brand" href="#") SmartGram.io
      
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      
      div(class="collapse navbar-collapse" id="navbarNav")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item")
            a(class="nav-link" href="/panel/info") Info
          li(class="nav-item")
            a(class="nav-link" href="/panel/configuration") Configuration 
          li(class="nav-item")
            a(class="nav-link" href="/panel/data/users") Data Users 
          li(class="nav-item")
            a(class="nav-link" href="/panel/data/accounts") Data IgAccounts 
          li(class="nav-item")
            a(class="nav-link" href="/panel/bot/accounts") Bot IgAccounts 
          li(class="nav-item")
            a(class="nav-link" href="/panel/bot/workers") Bot workers 
        ul(class="navbar-nav")
          li(class="nav-item")
            a(class="nav-link" href="/logout") Log out
    //-content
    .container-fluid
      .row
        main.col-12
          include notifications.pug
          div.pt-3
            block content

    //- bootstrap js 
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")


