 

if notifications.length > 0
  div(class="mt-3")
    div.row
      div(class="col-12")
        each notification, index in notifications
          div(class="alert alert-" + notification.type + " mt-1 mb-1" role="alert") #{notification.message}
