

div.container
  div.row.mb-4
    div.col-12

      nav.nav
        a.nav-link.active(href='/panel/info/nodes') Nodes
        a.nav-link(href='/panel/info/performance') Performance
        a.nav-link(href='/panel/info/actions') actions
